[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "*"
Django = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
pytz = "*"
whitenoise = "*"
requests = "*"
bs4 = "*"
python-dateutil = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
python-twitter = "*"

[requires]
python_version = "3.6"
