[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"
pre-commit = "*"

[packages]
click = "*"
python-twitter = "*"
rich = "*"
pandas = "*"

[requires]
python_version = "3.9"
